body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    
}

.nav-content {
  position: sticky;
  top: 0;
  background-color: rgb(14, 13, 82);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}


.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(1, 8, 39);
         


}

.header-content {
    display: flex;
    padding: 5%;
}

.navbarrightpart ul {
    float: right;
    list-style-type: none;

}

.navbarrightpart ul li {
    display: inline-block;
    line-height: 100%;

}
.headersocialicon img {
    width: 40px;
    margin: 0% 4% 4% 0%;
    line-height: 1.6;

}

.headersocialicon {
    display: flex;
}

.navbarrightpart ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    transition: all 0.3s ease;

}
.navbarleftlink{
    padding-left: 10%;
}

.navbarrightpart ul li a:hover {
    text-decoration: underline;
}

.navbarrightlink:hover {
    background-color: rgb(88, 91, 102);
    border: 1px;
    color: black;
}

.headerrightpart {
    margin-left: 40ch;
    padding: 13px 12px;
    margin-bottom: 12ch;
    border-radius: 70%;
}
.headerleft{
    margin-left: 15%;
}
.headerleft h1{
    font-size: 20px;
}

.about-content {
    display: flex;
    
}

.aboutrightpart {
    margin-right: 30%;
    
}

.aboutrightpart a {
    border-radius: 10px;
    background-color: rgb(10, 9, 10);
    
    color: white;

}

.aboutleftpart img {
    margin-left: 50px;

}

.aboutleftpart {
    margin-left: 10%;
}

.about h1 {
    text-align: center;
    color: rgb(1, 8, 39);
}

.education {
    text-align: center;
    color: rgb(1, 8, 39);
    margin-top: 5%;
    margin-bottom: 5%;
}

.bachelore {
    background-color: rgb(1, 8, 39);
    padding: 7px 30px;
    margin-left: 12%;
    margin-right: 5%;
    color: white
}

.intermediate {

    background-color: rgb(1, 8, 39);
    padding: 7px 60px;
    margin-right: 5%;

    color: white
}

.highschool {

    background-color: rgb(1, 8, 39);
    padding: 7px 60px;
    color: white
}

.Poject-content {
    display: flex;
}

.projects h1 {
    text-align: center;
    color:  rgb(1, 8, 39);
}

.projectskills {
    display: flex;
}

.projectskills p {
    
    background-color: rgb(1, 8, 39);
    color: white;
    margin-left: 1%;
    margin-bottom: 0%;


}
.projectrightpart h3{
    margin-bottom: 0%;
}

.contact h1{
    margin-bottom: 0%;
    font-size: 20px;
}
.contact-content h1 {
    text-align: center;

}


.projectrightpart {
    margin-left: 15%;
    margin-right: 10%;

    line-height: 1.6;
    word-wrap: break-word;
    text-align: justify;
}

.projectleftpart {
    margin-left: 20%;
}

.project-content {
    display: flex;

}

.projectrightpart p {
    padding: 2px 3px;
    font-size: 16px;
}

.contact-content {
    display: flex;

}



.contact {
    text-align: center;
    color:  rgb(1, 8, 39);
}

.button {
       background-color: rgb(10, 10, 49) ;
    padding: 10px 18px;
    color: white;
        border-radius: 5px;
        margin-top: 5%;


}
.custom-btn-link {
  text-decoration: none;
}

.button :hover{
    background-color: darkslategray;
    color: white;
}
.skillsicon {
  display: flex;               
  justify-content: center; 
  align-items: center;       
  gap: 20px;                   
  flex-wrap: wrap;
            
}
.skills  h2{
  text-align: center;         
}
.skills{
    margin-bottom: 5%;
}

.skillsicon img {
  width: 10%;    
  height: 10%;     
  object-fit: contain;         
  transition: transform 0.2s ease;
}
.skillsicon img:hover {
  transform: scale(1.1);      
}

.headerleftpart h2{
    margin-left: 30ch;
margin-top: 15%;
}
.footer{
    background-color:  rgb(1, 8, 39);
    padding:5px;
    text-align: center;
    margin-top: 10%;         
    color: white;
}
.footer a{
    color: rgb(23, 19, 248);
}
.headerrightpart input {
  padding: 2% 12%;
  border: 2px solid black;
border-radius: 6px;

}
.headerrightpart p{
     font-family: Arial, Helvetica, sans-serif;
}
 .web{
    border: 2px solid black;
    border-radius: 6px;
 }
.headerrightpart img{
    border-radius: 2px;
}

.resume a{
    background-color: rgb(10, 10, 49) ;
    padding: 10px 18px;
    color: white;
        border-radius: 5px;

}
.headerrightpart img{
    border-radius: 100%;
}
.about h1{
    font-size: 20px;
}
.Education h1{
     font-size: 20px;
     text-align: center;
}
.education{
    display: flex;
}
.projects h1{
    font-size: 20px;
}
.headerleftpart h1{
    font-size: 20px;
}


#name-email-row {
  display: flex;
  gap: 20px;
  
}

#name-email-row input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.web textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-weight: bold;
}
